@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
	--font-sans: Poppins, system-ui, sans-serif;
	--color-background: #1e1e1e;
	--color-secondary: #929aa1;
	--font-display: "SF Pro Display", sans-serif;
}
