@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
	--font-sans: Inter, system-ui, sans-serif;
	--font-display: Playfair, system-ui, sans-serif;
	--color-background: #1e1e1e;
	--color-secondary: #929aa1;
}
